extends ../base
block view-specific-scripts
    script(src="/js/util/el.js")
    script(src="/js/collection/entries.js")
block content
    div.profile-area-wrapper
        a(href="/collection.html")#general.view-area-tab.unactive-tab general
        a(href="/collection/users.html")#users.view-area-tab.unactive-tab users
        a(href="/collection/entries.html")#entries.view-area-tab.active-tab entries
        div.profile-container
            div.profile-content
                div#collection-entries
