extends ../base
block view-specific-scripts
    script(src="/js/util/el.js")
    script(src="/js/modal.js")
    script(src="/js/collection/entries.js")
block content
    div.profile-area-wrapper
        a(href="/profile.html")#profile.view-area-tab.unactive-tab profile
        a(href="/collection.html")#general.view-area-tab.unactive-tab general
        a(href="/collection/taxonomy.html")#taxonomy-tab.view-area-tab.unactive-tab taxonomy
        a(href="/collection/users.html")#users.view-area-tab.unactive-tab users
        a(href="/collection/entries.html")#entries.view-area-tab.active-tab entries
        div.profile-container
            div.profile-content
                div.heading
                    h2 entries in collection
                    h3#num-entries #
                button#new-entry.btn add new entry
                div#collection-entries
