doctype html5
html
    head
        meta(charset="utf-8")
        meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
        title SERP-connect | a web-tool for linking practical challenges with research results in software testing

        <!--changed to all.css-->
        link(rel='stylesheet', href='/css/all.css')

        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic', rel='stylesheet', type='text/css')
        link(rel="shortcut icon" href="/favicon.ico")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

        script(src="/js/api.js")
        if env == "dev"
            script(src="/js/api-dev.js")
        script(src="/js/presentation/presentation-base.js")
        script(src="/js/user.js")
        script(src="/js/taxonomy.js")
        block view-specific-scripts

    body
        div.grid-container
            div.grid-parent.grid-100
                a(href="/")#logo-link
                    img(src="/img/serp-logo-lofi.png")#logo
                div#header
                    div.views
                        a(href="")#overview.view-title overview
                        a(href="/presentation/search.html")#search.view-title search
                        a(href="/presentation/explore.html")#explore.view-title explore
                div.header-separator
                div.content
                    block content
                    div.footer
