extends base
block view-specific-scripts
    script(src="js/util/el.js")
    script(src="js/collection.js")
    script(src="js/modal.js")
    script(src="js/taxonomy.js")
    script(src="js/taxonomy-functionality.js")
    script(src="js/export.js")
    
block content
    div.profile-area-wrapper
        a(href="/profile.html")#profile.view-area-tab.unactive-tab profile
        a(href="/collection.html")#general.view-area-tab.active-tab general
        a(href="/collection/users.html")#users.view-area-tab.unactive-tab users
        a(href="/collection/entries.html")#entries.view-area-tab.unactive-tab entries
        div.profile-container
            div.profile-content
                span#name.user-email name
                span.user-email  #
                span#id.user-email id
                span#owner.user-email owner
                div.user-options
                    div
                    button#leave.btn leave collection
                    button#export.btn export collection
                div.collections-main-title statistics
                    p.collection-stats 0 entries, 0 members
