extends base
block view-specific-scripts
    script(src="js/util/el.js")
    script(src="js/modal.js")
    script(src="js/components/delete-collection-modal.js")
    script(src="js/collections.js")
    script(src="js/vendor/fuse.min.js")
    script(src="js/util/awesomplete.js")
block content
    div.profile-area-wrapper
        a(href="/profile.html").view-area-tab.unactive-tab profile
        a(href="/invitations.html").view-area-tab.unactive-tab invitations
        a(href="/users.html").view-area-tab.unactive-tab users
        a(href="/entries.html").view-area-tab.unactive-tab pending entries
        a(href="/collections.html").view-area-tab.active-tab all collections

        div.collections-container
            input(placeholder="type to filter collections")#collections-search.large-input
            span#stats
            div.my-collections-container
            div.all-collections-container
