extends base
block view-specific-scripts
    script(src="js/util/el.js")
    script(src="js/collection.js")
    script(src="//d3js.org/d3.v3.min.js" charset="utf-8")
    script(src="js/components/kick-user-modal.js")
    script(src="js/components/fuzzy-kick-user-modal.js")
    script(src="js/components/leave-collection-modal.js")
    script(src="js/modal.js")
    script(src="js/taxonomy.js")
    script(src="js/taxonomy-functionality.js")
    script(src="js/export.js")

    script(src="js/info.js")
    script(src="js/overview.js")
    script(src="js/util/color.js")
    script(src="js/util/usage.js")
    script(src="js/util/treeify.js")
    script(src="js/dataset.js")

block content
    div.profile-area-wrapper
        a(href="/profile.html")#profile.view-area-tab.unactive-tab profile
        a(href="/collection.html")#general.view-area-tab.active-tab general
        a(href="/collection/taxonomy.html")#taxonomy-tab.view-area-tab.unactive-tab taxonomy
        a(href="/collection/users.html")#users.view-area-tab.unactive-tab users
        a(href="/collection/entries.html")#entries.view-area-tab.unactive-tab entries
        div.profile-container
            div.profile-content
                span#name.user-email name
                span.user-email  #
                span#id.user-email id
                span#owner.user-email owner
                div.user-options
                    div
                    button#leave.btn leave collection
                    button#export.btn export collection
                div.collections-main-title statistics
                    p.collection-stats 0 entries, 0 members
                div.overview-container
                    div.ov-tax-container
                        span#taxonomy
                        div#taxonomyID.center 
                    div.width-30.column-spaced
                        div.overview-explanation
                            div.explanation-container
                                img(src="/img/mouse-over.png")#hand.square
                                p#hover-facet-title  Hover over the table to see which facet you are currently viewing
                            div.explanation-container
                                a#square.square
                                h3#facet-title Serp
                            p#facet-explanation Click the tables on the left to get more information about the facets
                            div.entry-count
