extends base
block view-specific-scripts
	// libraries
	script(src="js/util/el.js")
	script(src="//d3js.org/d3.v3.min.js" charset="utf-8")

	// libraries - sigma
	script(src="js/vendor/sigma.min.js")
	script(src="js/plugins/sigma.plugins.filter.min.js")
	script(src="js/plugins/sigma.parsers.json.min.js")

	// conf
	script(src="js/conf.js")
	script(src="js/util/el.js")
	script(src="js/util/color.js")
	script(src="js/util/usage.js")
	script(src="js/plugins/sigma.canvas.edges.curve.js")
	script(src="js/plugins/sigma.canvas.hovers.def.js")
	script(src="js/plugins/sigma.canvas.labels.def.js")

	// app
	script(src="js/taxonomy.js")
	script(src="js/dataset.js")
	script(src="js/modal.js")
	script(src="js/central.js")
	script(src="js/graph-parse.js")
	script(src="js/controls.js")
	script(src="js/listing.js")
	script(src="js/explore.js")

block content
	div.explore-controls
		span
			label Dataset:
			select#dataset
				option(value="main" selected) main
		div
			button#reset.control-btn Reset
			button#help.control-btn Help
	div#container
		div#graph
		div#listing
	span#legend
			span.chl challenge
			span.res research
			span.inc incomplete