extends base
block view-specific-scripts
    // libraries - d3
    script(src="//d3js.org/d3.v3.min.js" charset="utf-8")

    // app
    script(src="js/util/color.js")
    script(src="js/util/usage.js")
    script(src="js/util/treeify.js")
    script(src="js/dataset.js")
    script(src="js/overview.js")
    script(src="js/index.js")
    script(src="js/info.js")
block content
    div.inner-content
        h1.text-title
            | SERP-connect: linking practical challenges with research results in software testing

        p
            | SERP-connect is developed to support the use and evolution of the SERP,&#32;
            a(href="http://link.springer.com/article/10.1007/s11219-016-9322-x").link SERP-Test
            | &#32; and other taxonomies aiming at the interface between research and
            | practice in software testing. Descriptions of practical challenges and
            | research results are classified and organized according to four facets.

        div.overview-container
            div.ov-tax-container
                span#taxonomy
                div.center The SERP taxonomy
            div.width-30.column-spaced
                div.overview-explanation
                    div.explanation-container
                        img(src="/img/mouse-over.png")#hand.square
                        p#hover-facet-title  Hover over the table to see which facet you are currently viewing
                    div.explanation-container
                        a#square.square
                        h3#facet-title Serp
                    p#facet-explanation Click the tables on the left to get more information about the facets
                    div.entry-count

        h4.text-title.center.new-section
            | Projects & Presentations
        div.overview-container
            div.width-40
                div.facet-explanation
                    h3 SERP-test
                    p 
                        | The originial taxonomy that kickstarted this project. &#32;
                        a(href="https://test.serpconnect.cs.lth.se").link Explore & contribute here!
            div.width-40
                div.facet-explanation
                    h3 SERP-rto
                    p
                        | A presentation of an extension of the SERP-test taxonomy focused on regression testing. &#32;
                        a(href="https://rto.serpconnect.cs.lth.se").link Explore the results here!
        div.overview-container
            div.width-40
                div.facet-explanation
                    h3 SERP-security
                    p
                        | A presentation of an extension of the SERP taxonomy with security-related facets. &#32;
                        a(href="https://sec.serpconnect.cs.lth.se").link Explore the results here!

    div.inner-content.new-section
        h4.text-title.center
            | Get started
        div.overview-container
            div.width-40
                div.facet-explanation
                    h3 Want to know more?
                    p
                        | Head over to the &#32;
                        a(href="/about.html").link about
                        |  &#32; page to learn more about this project.
            div.width-40
                div.facet-explanation
                    h3 Want to participate?
                    p
                        | To use this site and collaborate with others, you must first &#32;
                        a(href="/login.html").link sign up here
                        | ! This account will be shared by all other SERP project sites.
        div.overview-container
            div.width-40
                div.facet-explanation
                    h3 Want to contribute?
                    p
                        | Interested in this project? Take a look at our &#32;
                        a(href="https://github.com/serpconnect").link GitHub organisation
                        | &#32; and join our slack!
            div.width-40
                div.facet-explanation
                    h3 Want to host your own?
                    p
                        | Head over to the &#32;
                        a(href="https://github.com/serpconnect").link GitHub organisation
                        | &#32; and check out &#32;
                        a(href="https://github.com/serpconnect/serp-test").link serp-test
                        | &#32; and &#32;
                        a(href="https://github.com/serpconnect/backend").link backend
                        | &#32; repositories for more details on how to deploy your own system.
                        | It is possible to integrate your own frontend with our backend,
                        | come talk to us on slack if that sounds interesting!

    div.last-section
