extends base
block view-specific-scripts
    script(src="js/util/el.js")
    script(src="js/invitations.js")
block content
    div.profile-area-wrapper
        a(href="/profile.html").view-area-tab.unactive-tab profile
        a(href="/invitations.html").view-area-tab.active-tab invitations
        div.invitation-container
            div.invitation-content

