extends base
block view-specific-scripts
    script(src="js/login.js")
    script(src="js/modal.js")
    script(src="js/util/el.js")

block loginlogout
    

block content
    div.login-view-area-wrapper
        div.text-title To be able to submit entries you need to register for a SERP Connect account.
        div.login-input-area-wrapper
            div#email-wrapper
                div.login-row-heading email
                input(placeholder="someone@something.com")#email
            div#password-wrapper
                div.login-row-heading password
                input(type="password" placeholder="password")#password
            div#forgot-password I forgot my password.
            div.login-button-wrapper
                button.btn#register-btn register
                button.btn#login-btn login
