extends base
block view-specific-scripts
    script(src="js/util/el.js")
    script(src="js/profile.js")
block content
    div.profile-area-wrapper
        a(href="/profile.html").view-area-tab.active-tab profile
        a(href="/invitations.html").view-area-tab.unactive-tab invitations
        div.profile-container
            div.profile-content
                div.user-email <email>
                div.user-options
                    div#logout logout
                    div#change change password
                    div#delete delete account

                div.collections-main-title your collections
                    div#create.additional-data create new collection +
