extends base
block view-specific-scripts
    script(src="js/util/el.js")
    script(src="js/modal.js")
    script(src="js/vendor/fuse.min.js")
    script(src="js/util/awesomplete.js")
    script(src="js/components/create-project-modal.js")
    script(src="js/components/edit-project-modal.js")

    script(src="js/projects.js")
block content
    div.inner-content
        h3.text-title Public projects & presentations
        table#projects-list
            thead
                tr
                    th Name
                    th Link
                    th Actions
            tbody
        div#msg-box