extends base
block view-specific-scripts
    script(src="js/resetpassword.js")

block content
    div.login-view-area-wrapper
        div.text-title To be able to submit entries you need to register for a SERP Connect account.
        div.login-input-area-wrapper
            div#password-wrapper
                div.login-row-heading password
                input(type="password" placeholder="password")#password
            div#password2-wrapper
                div.login-row-heading enter password again
                input(type="password" placeholder="password")#password2.submit-input-box
            div#reset-password
                button.btn#confirm-btn confirm
