extends base
block view-specific-scripts
    // app
    script(src="js/modal.js")
    script(src="js/components/extend-taxonomy-modal.js")
    script(src="js/util/el.js")
    script(src="js/search.js")
    script(src="js/taxonomy.js")
    script(src="js/taxonomy-functionality.js")

block content
    div#search_container.indent
    div.facets
        div.filters
        div#search-results-text showing ~/~ entries
    div.main
        div.view-area-wrapper
            div#overview-tab.view-area-tab.active-tab overview
            div#table-view-tab.view-area-tab.unactive-tab table view
            div.sort-wrapper
                span.sort-label sort by
                label.sort-dropdown-label
                    select#sort-dropdown
                        option(value="newest") newest first
                        option(value="oldest") oldest first
                        option(value="collections") collections, A-Z
            div.sort-wrapper
                span.sort-label filter by collections
                label.collection-dropdown-label
                    select#collection-dropdown
                        option(value="all") show all
            div.view-area.overview-bg
                div.table-view-area.hidden
                    table#table-view
                div.overview-area
