extends base
block view-specific-scripts
    script(src="js/search.js")
block content
    div.facets
        div(alt="An effect target entity is a short statement of what should be \
achieved by an intervention. An effect entity is correspondingly a \
statement of a measured effect. An effect(-target) entity may be \
classified as either solving, adapting, assessing or improving testing. \
This classification is relative to the context of its associated \
research result or practical challenge." title="An effect target entity \
is a short statement of what should be achieved by an intervention. An \
effect entity is correspondingly a statement of a measured effect. An \
effect(-target) entity may be classified as either solving, adapting, \
assessing or improving testing. This classification is relative to the \
context of its associated research result or practical challenge.").facet-title Effect
            label(for="checkbox" alt="Solving: The focus of the challenge description or \
research result is on novelty. This means that it does not consider \
any benchmark with which to compare the effects of an intervention. \
Novelty relates to the testing rather than the testing context. \
Furthermore, the focus is on solving a problem rather than \
assessing the situation." title="Solving: The focus of the challenge \
description or research result is on novelty. This means that it \
does not consider any benchmark with which to compare the effects \
of an intervention. Novelty relates to the testing rather than the \
testing context. Furthermore, the focus is on solving a problem \
rather than assessing the situation.").sub-facet Solve new problem
                label.checkbox
                    input(name="solving" type="checkbox")
                    span
            label(alt="Adapting: The focus of the challenge description or \
research result is on the characteristics of the testing context. \
Like the solving category no benchmark is considered." title="\
Adapting: The focus of the challenge description or research result \
is on the characteristics of the testing context. Like the solving \
category no benchmark is considered." for="checkbox").sub-facet Adapt testing
                label.checkbox
                    input(name="adapting" type="checkbox")
                    span
            label(alt="Assessing: The focus of the challenge description or \
research result is on how to assess testing (rather than solving a \
problem) to identify points of improvement." title="Assessing: The \
focus of the challenge description or research result is on how to \
assess testing (rather than solving a problem) to identify points \
of improvement." for="checkbox").sub-facet Assess testing
                label.checkbox
                    input(name="assessing" type="checkbox")
                    span
            label(alt="Improving: The focus of the challenge description is on \
the change or correspondingly for a research result focus is on the \
comparison of interventions. In both cases benchmarks are \
expected." title="Improving: The focus of the challenge \
description is on the change or correspondingly for a research \
result focus is on the comparison of interventions. In both cases \
benchmarks are expected." for="checkbox").sub-facet Improve testing
                label.checkbox
                    input(name="improving" type="checkbox")
                    span
        div(alt="The scope of a testing intervention describes the extent of \
the effect, intended or measured, on the test process. Correspondingly \
the scope of the challenge describes which part of the testing process \
is primarily affected by the challenge or desired improvement. The \
scope may be expressed in terms of one or more tasks or activities \
(scope entities), which may be classified as being part of either \
planning, design, execution or analysis." title="The scope of a testing \
intervention describes the extent of the effect, intended or measured, \
on the test process. Correspondingly the scope of the challenge \
describes which part of the testing process is primarily affected by \
the challenge or desired improvement. The scope may be expressed in \
terms of one or more tasks or activities (scope entities), which may be \
classified as being part of either planning, design, execution or \
analysis.").facet-title Scope
            label(alt="Planning: Test planning refers to decisions on the \
testing and how to achieve the testing goal." title="Planning: Test \
planning refers to decisions on the testing and how to achieve the \
testing goal." for="checkbox").sub-facet Test planning
                label.checkbox
                    input(name="planning" type="checkbox")
                    span
            label(alt="Design: Test design refers to the activity of deriving \
and creating test cases and test sets." title="Design: Test design \
refers to the activity of deriving and creating test cases and test \
sets." for="checkbox").sub-facet Test design
                label.checkbox
                    input(name="design" type="checkbox")
                    span
            label(alt="Execution: Test execution includes scripting, execution \
and verdict reporting of a test case and a test set. " title="Execution: Test \
execution includes scripting, execution and \
verdict reporting of a test case and a test set." for="checkbox").sub-facet Test execution
                label.checkbox
                    input(name="execution" type="checkbox")
                    span
            label(alt="Analysis: Test analysis refers to the evaluation and \
analysis of the test outcome with respect to some criteria." title="Analysis: \
Test analysis refers to the evaluation and \
analysis of the test outcome with respect to some criteria." for="checkbox").sub-facet Test analysis
                label.checkbox
                    input(name="analysis" type="checkbox")
                    span
        div(alt="A context entity names a factor restricting the applicability of an \
intervention. Similarly, from a problem \
perspective, a context entity names a factor that delimits the \
selection of possible interventions. However, when \
classifying empirical evaluations of interventions the context entities \
should name the factors that have actually been considered in \
that specific study. Context-entities may be classified as being \
related to either the SUT, the availability of information or the \
people in the process." title="A context entity names a factor restricting \
the applicability of an \
intervention. Similarly, from a problem \
perspective, a context entity names a factor that delimits the \
selection of possible interventions. However, when \
classifying empirical evaluations of interventions the context entities \
should name the factors that have actually been considered in \
that specific study. Context-entities may be classified as being \
related to either the SUT, the availability of information or the \
people in the process.").facet-title Context
            label(for="checkbox").sub-facet People related constraints
                label.checkbox
                    input(name="people" type="checkbox")
                    span
            label(for="checkbox").sub-facet Availability of information
                label.checkbox
                    input(name="information" type="checkbox")
                    span
            label(for="checkbox").sub-facet Properties of SUT
                label.checkbox
                    input(name="sut" type="checkbox")
                    span
            label(for="checkbox").sub-facet Other
                label.checkbox
                    input(name="other" type="checkbox")
                    span
        div#search-results-text showing ~/~ entries
    div.main
        div.view-area-wrapper
            div#overview-tab.view-area-tab.active-tab overview
            div#table-view-tab.view-area-tab.unactive-tab table view
            div.sort-wrapper
                span.sort-label sort by
                label.sort-dropdown-label
                    select#sort-dropdown
                        option(value="newest") newest first
                        option(value="oldest") oldest first
                        option(value="collections") collections, A-Z
            div.sort-wrapper
                span.sort-label filter by collections
                label.collection-dropdown-label
                    select#collection-dropdown
                        option(value="all") show all
            div.view-area.overview-bg
                div.table-view-area.hidden
                    table#table-view
                        thead
                            tr
                                th entries
                                th(title="inspect solutions" data-facet="solving").clickable solve
                                th(title="inspect adaptions" data-facet="adapting").clickable adapt
                                th(title="inspect assessments" data-facet="assessing").clickable assess
                                th(title="inspect improvements" data-facet="improving").clickable improve
                                th(title="inspect planning entities" data-facet="planning").clickable.alternating-group planning
                                th(title="inspect design entities" data-facet="design").clickable.alternating-group design
                                th(title="inspect execution entities" data-facet="execution").clickable.alternating-group execution
                                th(title="inspect analysis entities" data-facet="analysis").clickable.alternating-group analysis
                                th(title="inspect people entities" data-facet="people").clickable people
                                th(title="inspect info entities" data-facet="information").clickable info
                                th(title="inspect SUT entities" data-facet="sut").clickable SUT
                                th(title="inspect other entities" data-facet="other").clickable other
                        tbody#table-body
                div.overview-area
