extends base
block view-specific-scripts
    script(src="js/util/el.js")
    script(src="js/modal.js")
    script(src="js/submit.js")
    script(src="js/components/create-collection-modal.js")
    // script(src="js/import.js")
    script(src="js/util/awesomplete.js")
    script(src="js/taxonomy.js")

block content
    div.submit-view-area-wrapper
        div#submit-form.form-content
            div.entry-type-area
                div.submit-row-heading Entry type
                div.entry-type-wrapper
                    label(for="checkbox").sub-facet Research result
                        label.circular-checkbox
                            input#research-button(name="entryType" value="research" type="radio" checked)
                            span
                div.entry-type-wrapper
                    label(for="checkbox").sub-facet Challenge
                        label.circular-checkbox
                            input#challenge-button(name="entryType" value="challenge" type="radio")
                            span
            div.project-title-area
                div.submit-row-heading Collection
                label.collection-dropdown-label
                    select#collection().submit-input-box
                input#new-collection(placeholder="name of the new collection").submit-input-box
                div#submit-create-collection create a new collection
            div#reference-area
                div.submit-row-heading Reference
                textarea#reference(placeholder="enter the relevant reference for this entry").submit-input-box
            div#description-area
                div.submit-row-heading Description
                textarea#description(placeholder="enter a description for this entry").submit-input-box
            div#doi-area
                div.submit-row-heading DOI
                input#doi(placeholder="the DOI affiliated with this entry").submit-input-box
            div.button-wrapper
                button#remove-btn.btn remove
                button#queue-btn.btn queue
                button#submit-btn.btn submit
                button#load-btn.btn load
            // div.import-file
            //    button#import-json-btn.btn import
            //    input#input_file(type='file', style='display:none', accept='.json,.csv')
    div.divider-wrapper
        div.classification-divider
        div.divider-title Classification
        div.classification-divider
    div.submit-facets
        p loading classification
    div.divider-wrapper
        div.classification-divider
        div.divider-title Queued submissions
        div.classification-divider
    div.queue-area
        div.queue-button-wrapper
            button#submit-queue-btn.btn submit queue
        div.queue-title-area
            div#toggle-queue.hide-queue hide table
            div#toggle-chevron.hide-chevron
        div.queue-table-container
            table#queue-table

