extends base
block view-specific-scripts
    script(src="js/vendor/fuse.min.js")
    script(src="js/users.js")
block content
    div.profile-area-wrapper
        a(href="/profile.html").view-area-tab.unactive-tab profile
        a(href="/invitations.html").view-area-tab.unactive-tab invitations
        a(href="/users.html").view-area-tab.active-tab users
        a(href="/entries.html").view-area-tab.unactive-tab pending entries
        div.users-view-container
            div.users-content
                input(placeholder="type to search for a particular user")#users-search

                div.users-header
                    div.users-title email
                    div.users-title account level
