svg path {
	stroke: #1D1D1D;
	stroke-width: 2px;
	cursor: pointer; 
}
svg text {
	fill: #1D1D1D;
	cursor: pointer;
}
.overview-container {
	display: flex;
	justify-content: space-between;
}
.inner-content {
	width: 80%;
	margin: 0 auto;
}
.ov-tax-container{
	width: 40%;
	margin-left: 10%;
}
.width-40 {
	width: 40%;
}
.width-30 {
	width: 30%;
}
.column-spaced {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.disappear{
	opacity: 0;
<<<<<<< HEAD
    transition: opacity 1s cubic-bezier(.05,.91,.94,.03);
 	-webkit-transition: opacity 1s cubic-bezier(.63,.25,.91,1.93);
}
.position{
=======
    transition: opacity .75s cubic-bezier(.05,.91,.94,.03);
 	-webkit-transition: opacity .75s cubic-bezier(.63,.25,.91,1.93);
>>>>>>> 703dc3f
}
.hide{
	display: none;
}
p { line-height: 1.5; }
.facet-explanation {
	padding: 0.25em;
	margin-top: 0.25em;

	h3 { margin: 0; margin-bottom: 0.25em;
	  }
	p { margin: 0; margin-top: 0.25em; }
}
.overview-explanation {
	padding: 0.25em;
	margin-top: 40%;
<<<<<<< HEAD

	h3 { margin: 0; margin-bottom: 0.25em;}
	p { 
		margin: 0; margin-top: 0.25em;
		font-style: italic;
		color: @light-gray;
	 }
}
.explanation-container {
	display: inline-flex;

=======

	h3 { margin: 0; margin-bottom: 0.25em;}
	p { 
		margin: 0; margin-top: 0.25em;
		font-style: italic;
		color: @light-gray;
	 }
}
.explanation-container {
	display: inline-flex;

>>>>>>> 703dc3f
}
.square{
	border-style: solid;
	border-width: .05em;
	border-color: black;
	margin-right: .5em;
	height:1.8em;
	width: 1.8em;
	background:white;
}
.new-section {
	margin-top: 2em;
}

.last-section {
	margin-bottom: 7em;
}