svg path {
	stroke: #1D1D1D;
	stroke-width: 2px;
}
svg tspan {
	fill: #1D1D1D;
}
.overview-container {
	display: flex;
	justify-content: space-between;
}
.inner-content {
	width: 80%;
	margin: 0 auto;
}
.width-40 {
	width: 40%;
}
.column-spaced {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

p { line-height: 1.5; }
.facet-explanation {
	padding: 0.25em;
	margin-top: 0.25em;

	h3 { margin: 0; margin-bottom: 0.25em; }
	p { margin: 0; margin-top: 0.25em; }
}

.new-section {
	margin-top: 2em;
}

.last-section {
	margin-bottom: 7em;
}