.newFacetContainer{
	border: 2px;
	border-color:black;
	background: @light-gray;
	border-style:solid;
	border-color: black;
	border-width: 1px;
	margin:auto;
	line-height:0;
	text-align:center;
	width:30%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.newFacetContainer > input{
	display: flex;
	width:fit-content;
}
.proj-ui-title-divider {
	margin-left:1rem;
	margin-right:1rem;
    border-bottom: 1px solid #2b2b2b;
    width: 100%;
    flex-grow: 1;
    flex-basis: 1;
}
.proj-ui-btn-wrapper{
	padding-bottom: 5px;
}
.proj-ui-btn-wrapper >button{
	margin-left: 5px;
}
.proj-ui-inputbox{
	  display: inline;
    float: none;
	font-family: "Open Sans";
    font-size: 12pt;
    margin-bottom: 5px;
    padding: 5px;
    /* width: 350px; */
    -moz-box-shadow: 0 0 1px #a5a5a5;
    -webkit-box-shadow: 0 0 1px #a5a5a5;
    box-shadow: 0 0 1px #a5a5a5;
    background-color: white;
    color: #525252;
    border: none;
    -webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    -ms-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

.proj-ui-input-container{
	margin: auto;
}

.proj-ui-input-containers{
	align-items:center;
	display:flex;
}

.proj-ui-input-containers > h4{
	  display: inline;
    float: none;
	padding-right: 5px;
}