
#search_container.indent{
     padding-top: 12px;
}
.edit-btn {
    .btn();
    float: right;
}

#table-view {
    width: 100%;
    float: right;
    font-size: 7pt;
    border-collapse: collapse;
    cellpadding: 0;
    cellspacing: 0;
    background-color: @off-white;
}

.table-view-area {
    display: table;
    width: 100%;
}

#table-view th:first-child, #table-view td:first-child {
    font-size: 9pt;
    background-color: white;
}

.hidden {
    display: none;
}

#search-results-text {
    font-size: 10pt;
    padding-right: 5px;
    text-align: right;
}

.view-area-wrapper {
    margin-left: 210px;
    width: 80%;
}

.view-area {
    margin-top: -1px;
    border: 1px solid @off-white;
}

.view-area-tab {
    cursor: pointer;
    border: 1px solid @off-white;
    font-size: 9pt;
    padding: 2.5px;
    color: @light-gray;
    background-color: white;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.overview-bg {
    background-color: white !important;
}

.unactive-tab {
    &:hover {
        background-color: #fafafa;
    }
}

.active-tab {
    border-bottom: 1px solid white !important;
}

// overview entry stuff
.overview-entry {
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 7px;
}

.entry-type {
    font-style: italic;
    color: @light-gray;
    font-size: 9pt;
    margin-bottom: -4px;
}

// limit length of displayed title
.entry-title {
    // max-width: 200px;
    margin-right: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover {
        cursor: pointer;
        color: @light-gray;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        -ms-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }
}

.entry-tag {
    display: inline-block;
    margin-top: -2px;
    color: @light-gray;
    font-size: 9pt;
    margin-right: 10px;
}